* {/*remove defaults*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*link styles*/
a {
    color: #eff6f9;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
    font-weight: bold;
}

#blackLink{
    color: #000000;
}


#blackLink:hover{
    color: #2980b9;
    font-weight: bold;
}
/*set sizes for pictures*/
#myPic{
    max-width:450px;
    max-height:450px;
}

#myLogo{
    background-color: gold;
    width: 75px;
    height: 75px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:#eff6f9;
    color: #1a1919;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header and footer*/
.horizontalElements {
    background-color: #050505;
    color: white;
    padding: 10px 20px;
}

.horizontalElements ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.horizontalElements li{
    margin: 0 15px;
}

.horizontalElements li:hover a{
    background-color: #f23d00;
    cursor:pointer;
}

h1{
    text-align: center;
}

main {
    display: flex;
    flex: 1; /* fill page */
    padding: 20px;
    gap: 20px;
}

/* cards */
#partTheFirst,
#partTheSecond {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #eff6f9;
}
pre{
    text-align: left;
}
/* left card fills 1/3 of main*/
#partTheFirst {
    flex: 1;
    background-color: #f23d00;
    color: #eff6f9;
}
/* right card fills 2/3 of main*/
#partTheSecond {
    flex: 2;
    background-color: #eff6f9;
}

#partTheFirst p,
#partTheSecond p {
    margin-bottom: 10px;
}

/* coding sample: retro styling */
pre {
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    overflow-x: auto;
    color: rgb(5, 252, 5);
}