* {
    font-family: Arial, Helvetica, sans-serif;
}

    .container{
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
    }
header{
    background-color: black;
    color: antiquewhite;
    font-size: 0.875em; /* 14pt */
}